{{ define "header"}}
{{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
<div class="main-content">
  <!-- Begin Article -->
  <div class="container">
    <div class="row">
      <!-- Post Share -->
      <div class="col-md-2 pl-0">
        {{- partial "single-partials/share.html" . -}}
      </div>
      <!-- Post -->
      <div class="col-md-9 flex-first flex-md-unordered">
        <div class="mainheading">
          <!-- Post Title -->
          <h1 class="posttitle">{{ title .Title }}</h1>
          <!-- Author Box -->
          <div class="pb-4">
            {{ partial "_shared/author-info" . }}
          </div>
        </div>
        <!-- Post Featured Image -->
        {{with .Params.image}}
          {{if hugo.IsProduction}}
            <img class="featured-image img-fluid" src="https://tgdp.imgix.net{{ . }}?w=802&auto=compress,format" alt="Thumbnail for this post">
          {{else}}
            <img class="featured-image img-fluid" src="{{ . }}" alt="Thumbnail for this post">
          {{end}}
        {{end}}
        <!-- End Featured Image -->

        <!-- Post Content -->
        <div class="article-post">
          {{ .Content}}
        </div>

        {{ partial "single-partials/author-follow" . }}

        
        <!-- Article Copyright/License -->
        <div class="mb-4">
          {{ partial "single-partials/article-copyright-license" . }}
        </div>
        
        <!-- Post Tags -->
        {{ with .Params.tags }}
        <div class="mb-5 card-tags">
          <h4 class="mb-2">Tags</h4>
          {{ range . }}
            <a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{. | humanize}}</a>
          {{ end }}
        </div>
        {{ end }}
        <!-- End Tags -->

        <!-- Next and PrevPage inside current section -->
        <div class="row PageNavigation d-flex justify-content-between font-weight-bold">
          {{with .NextInSection}}
          <a class="d-block col-6 mb-2 mb-lg-0" href="{{.Permalink}}"> &laquo; {{.Title}}</a>
          {{end}}
          {{with .PrevInSection}}
          <a class="d-block col-6 text-right" href="{{.Permalink}}">{{.Title}} &raquo;</a>
          {{end}}
          <div class="clearfix"></div>
        </div>
        <!-- End Next and PrevPage -->
      </div>
      <!-- End Post -->
    </div>
  </div>
  <!-- End Article -->
</div>
{{- partial "_shared/alertbar" . -}}
{{ end }}

{{ define "footer"}}
{{- partial "_shared/jumbotron" . -}}
{{- partial "_shared/footer" . -}}
{{ end }}